@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

header {
    nav[aria-expanded='true'] {
        height: auto;

        .nav-sections {
            &.header-sub-pms {
                .nav-sec-sec1 {
                    li {
                        p {
                            a {
                                color: var(--neutrals-white);
                                background-color: transparent;
                                font-feature-settings: var(--font-feature-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-small-regular-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--label-large-line-height);

                                @include media(mobile) {
                                    width: 100%;
                                    text-align: left;
                                    color: var(--blue-1800-primary, #2E2A94);
                                    font-size: var(--body-medium-semibold-size);
                                    font-weight: 600;
                                    line-height: var(--body-medium-semibold-line-height);
                                }
                            }
                        }

                        &.nav-sec-sub1 {
                            @include media (mobile) {
                                display: none;
                            }
                        }
                    }

                    @include media (mobile) {
                        .nav-sec-sub2 {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }

        .header-top {
            &.header-sub-pms {
                width: 55%;

                @include media (mobile) {
                    width: 100%;
                }
            }
        }
    }
}



/* wealth header */

header .header.wealth-header {
    width: 100%;

    .nav-wrapper {
        padding: 24px 0;

        @media (width <=900px) {
            padding: 0;
        }

        @include media (mobile) {
            padding: 0;
        }

        .nav-brand {
            .navbrand-cont1 {
                gap: 16px;

                .navbrand-sec3 {
                    .navbrand-sub1 {
                        display: none;

                        @include media (mobile) {
                            display: none;
                        }
                    }

                    .navbrand-sub2 {
                        @include media(mobile) {
                            display: block;
                        }

                        .icon {
                            @include media (tab) {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 64px;
                                    height: 26.093px;
                                    aspect-ratio: 64.00/26.09;

                                    @include media (mobile) {
                                        width: 68px;
                                        height: 32px;
                                        flex-shrink: 0;
                                        aspect-ratio: 17/8;
                                    }
                                }
                            }
                        }
                    }
                }

                .navbrand-sec2 {
                    img {
                        @include media (tab) {
                            width: 69px;
                            height: 28.379px;
                        }

                        @include media (mobile) {
                            width: 69px;
                            height: 28.379px;
                        }
                    }
                }
            }
        }

        nav {
            max-width: 1232px;
        }

        nav[aria-expanded='true'] {
            max-width: 1232px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media (mobile) {
                display: grid;
            }

            .nav-brand {
                .navbrand-cont1 {
                    .navbrand-sec3 {
                        .navbrand-sub1 {
                            display: none;

                            @include media (mobile) {
                                display: none;
                            }
                        }

                        .navbrand-sub2 {
                            @include media(mobile) {
                                display: block;
                            }

                            img {
                                width: 85px;
                                height: 40px;
                                flex-shrink: 0;
                                aspect-ratio: 17/8;

                                @include media (mobile) {
                                    width: 68px;
                                    height: 32px;
                                    flex-shrink: 0;
                                    aspect-ratio: 17 / 8;
                                }
                            }

                            .navbrand-inner-net1 {
                                &::after {
                                    content: '';
                                    width: 0;
                                    height: 0;
                                }

                                .icon-wcs-new-logo-golden-logo {
                                    margin-bottom: 14px;

                                    @include media (mobile) {
                                        margin-bottom: 0;
                                        width: 64px;
                                        height: 26.093px;
                                        aspect-ratio: 64.00/26.09;
                                    }

                                    .navbrand-list-content1 {
                                        width: 97px;
                                        height: 39px;

                                        @include media (mobile) {
                                            width: 64px;
                                            height: 26px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                img.comlist {
                    width: 97.29px;

                    @include media (mobile) {
                        width: 69px;
                        height: auto;

                    }
                }
            }

            .nav-sections {
                flex: unset;
                height: auto;

                @include media (mobile) {
                    height: 100%;
                }

                .default-content-wrapper {
                    .nav-sec-sec1 {
                        justify-content: flex-end;

                        @include media (mobile) {
                            gap: 28px;
                        }

                        .nav-sec-sub1 {
                            display: none;
                        }

                        .nav-drop {
                            &::after {
                                content: unset;
                            }

                            @include media (mobile) {
                                padding: 0;
                                line-height: 0;
                                gap: unset;
                            }

                            .button-container {
                                @include media (mobile) {
                                    padding: 0;
                                    line-height: 0;
                                }
                            }

                            &[aria-expanded='false'] {
                                .nav-sec-list1 {
                                    color: var(--neutrals-white);
                                    font-feature-settings: var(--font-features-default);
                                    font-family: var(--body);
                                    font-size: var(--body-small-regular-size);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: var(--label-large-line-height);
                                    padding: 0;
                                    background-color: transparent;

                                    @include media (mobile) {
                                        color: var(--blue-1-800-primary);
                                        font-feature-settings: var(--font-features-default);
                                        font-family: var(--body);
                                        font-style: normal;
                                        padding: 0;
                                        background-color: white;
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 20px;
                                    }
                                }
                            }

                            &.nav-sec-sub2 {
                                @include media (mobile) {
                                    line-height: 0;
                                    padding: 0;
                                    margin-top: 16px;
                                }

                                p.comlist {
                                    @include media (mobile) {
                                        line-height: 0;
                                    }
                                }

                            }
                        }

                        & p.nav-sec-inner-text1 {
                            display: flex;

                            @include media (mobile) {
                                line-height: 0;
                            }
                        }

                    }
                }

            }

        }
    }
}