@import "../../../styles/fonts.css";

header nav[aria-expanded="true"] .nav-sections.header-sub-pms .nav-sec-sec1 li p a {
  color: var(--neutrals-white);
  background-color: transparent;
  font-feature-settings: var(--font-feature-default);
  font-family: var(--body, Inter);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
}

@media (width <= 768px) {
  header nav[aria-expanded="true"] .nav-sections.header-sub-pms .nav-sec-sec1 li p a {
    width: 100%;
    text-align: left;
    color: var(--blue-1800-primary, #2E2A94);
    font-size: var(--body-medium-semibold-size);
    font-weight: 600;
    line-height: var(--body-medium-semibold-line-height);
  }
}

@media (width <= 768px) {
  header nav[aria-expanded="true"] .nav-sections.header-sub-pms .nav-sec-sec1 li.nav-sec-sub1 {
    display: none;
  }
}

@media (width <= 768px) {
  header nav[aria-expanded="true"] .nav-sections.header-sub-pms .nav-sec-sec1 .nav-sec-sub2 {
    margin-top: 24px;
  }
}

header nav[aria-expanded="true"] .header-top.header-sub-pms {
  width: 55%;
}

@media (width <= 768px) {
  header nav[aria-expanded="true"] .header-top.header-sub-pms {
    width: 100%;
  }
}

/* wealth header */
.wealth-header .nav-wrapper {
  padding: 16px;
}

.wealth-header .nav-wrapper .nav-sections .default-content-wrapper .nav-sec-sec1 .nav-drop[aria-expanded="false"] .nav-sec-list1 {
  color: var(--neutrals-white);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
  padding: 0;
  background-color: transparent;
}

.wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .navbrand-inner-net1::after {
  content: "";
  width: 0;
  height: 0;
}

.wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .navbrand-inner-net1 .icon-wcs-new-logo-golden-logo {
  /* .icon-header-logo-img2 { */
  margin-bottom: 14px;
}

.wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .navbrand-inner-net1 .icon-wcs-new-logo-golden-logo .navbrand-list-content1 {
  width: 97px;
  height: 39px;
}

.wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub1 {
  display: none;
}

.wealth-header .nav-wrapper nav .nav-sections .nav-sec-cont1 .nav-sec-sec1 .nav-drop::after {
  content: unset;
}

@media (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 {
    gap: 28px;
  }

  .wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub1 {
    display: none;
  }

  .wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 {
    display: block;
  }

  .wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .icon-wcs-new-logo-golden-logo {
    width: 64px;
    height: 26.093px;
    aspect-ratio: 64/26.09;
  }

  .wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .navbrand-inner-net1 .icon-wcs-new-logo-golden-logo .navbrand-list-content1 {
    width: 64px;
    height: 26px;
  }

  .wealth-header .nav-wrapper {
    padding: 0;
  }

  .wealth-header .nav-wrapper .nav-sections .default-content-wrapper .nav-sec-sec1 .nav-drop[aria-expanded="false"] .nav-sec-list1 {
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-style: normal;
    padding: 0;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .wealth-header .nav-wrapper .nav-brand .navbrand-cont1 .navbrand-sec3 .navbrand-sub2 .navbrand-inner-net1 .icon-wcs-new-logo-golden-logo {
    margin-bottom: 0;
  }

  .wealth-header .nav-sections .nav-sec-sec1 .nav-sec-sub1 {
    display: none;
  }
}

@media (width <= 768px) and (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop {
    padding: 0;
    line-height: 0;
  }
}

@media (width <= 768px) and (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop .button-container {
    padding: 0;
    line-height: 0;
  }
}

@media (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop.nav-sec-sub2 {
    margin-top: 16px;
  }
}

@media (width <= 768px) and (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop.nav-sec-sub2 {
    line-height: 0;
    padding: 0;
  }
}

@media (width <= 768px) and (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop.nav-sec-sub2 p.nav-sec-inner-text1 {
    line-height: 0;
  }
}

@media (width <= 768px) and (width <= 768px) {
  .wealth-header .nav-sections .nav-sec-sec1 .nav-drop.nav-sec-sub2 .nav-sec-inner-text1 {
    line-height: 0;
  }
}

@media (width >= 900px) {
  .header.wealth-header nav .nav-sections .nav-sec-sec1 {
    justify-content: flex-end;
  }

  .header.wealth-header nav .nav-sections .nav-sec-sec1 .nav-sec-inner-text1 {
    line-height: 0;
    font-size: 0;
  }
}