@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.edge-filter-container {
    margin: 0;
    padding-top: 40px;

    @include media (mobile) {
        width: 100%;
        margin: 0;
        position: fixed;
        bottom: 0;
        border-radius: 8px;
        background: var(--neutrals-white, #FFF);
        box-shadow: 0 -4px 12px 0 #0000000d;
        z-index: 10;
        min-height: 60px;
        padding: 0;
        display: none;
    }

    .edge-filter-wrapper {
        @include media (mobile) {
            padding: 0;
        }

        .edge-filter {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;


            @include media(mobile) {
                justify-content: center;
                padding-top: 20px;
            }

            .edge-filter-cont1,
            .edge-filter-cont2 {
                // @include media (mobile) {
                //     width: 50%;
                // }

                .edge-filter-sub1 {
                    .filter-lists1 {
                        display: none;

                        @include media (mobile) {
                            // display: flex;
                            padding: 16px 16px 20px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            flex: 1 0 0;
                            display: none;
                        }

                        .filter-lists-wrap1 {
                            color: var(--blue-1800-primary, #2E2A94);
                            font-size: var(--body-small-semibold-size);
                            font-weight: 600;
                            line-height: var(--body-small-semibold-line-height);

                            @include media (mobile) {
                                font-size: var(--body-medium-medium-size, 16px);
                                font-style: normal;
                                font-weight: 500;
                                line-height: var(--body-medium-medium-line-height, 20px);
                            }
                        }
                    }
                }
            }

            .edge-filter-cont2 {
                // display: none;

                .edge-filter-sub1 {
                    .filter-lists1 {
                        border: none;
                    }
                }
            }

            .edge-filter-sub1 {
                display: flex;
                align-items: center;
                gap: 16px;
                list-style: none;
                padding: 0;
                margin: 0;

                >li {
                    position: relative;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        margin: 0;
                        padding: 0;
                        color: var(--neutrals-black);
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--body);
                        font-size: var(--body-medium-medium-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--body-medium-medium-line-height);

                        span {
                            width: 24px;
                            height: 24px;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    >.filter-lists-wrap2 {
                        // Initially hidden
                        min-width: 110px;
                        width: 100%;
                        visibility: hidden;
                        position: absolute;
                        top: calc(100% + 5px);
                        left: 0;
                        margin: 0;
                        list-style: none;
                        border-radius: var(--border-radius-8);
                        border: 1px solid var(--neutrals-200);
                        box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
                        background: var(--neutrals-white);
                        opacity: 0;
                        z-index: 10;
                        transform: translateY(10px);
                        transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;

                        @include media (mobile) {
                            bottom: 40px;
                            left: 16px;
                            top: unset;
                        }

                        li a {
                            display: block;
                            padding: 8px 12px;
                            text-decoration: none;
                            color: var(--neutrals-black);
                            border-radius: 4px;
                            white-space: nowrap;
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-small-medium-size);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;

                            &:hover {
                                background-color: #f5f5f5;
                            }
                        }
                    }

                    &.is-open {
                        .filter-lists-wrap1 {
                            span {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        >.comlist.filter-lists-wrap2 {
                            display: block;
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }

                li.filter-lists1 {
                    @include media (mobile) {
                        border-right: 1px solid var(--neutrals-300, #E0E0E0);
                        background: var(--neutrals-white, #FFF);
                    }

                    p {
                        span {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .comlist.filter-lists-wrap1 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 4px;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                    color: var(--text-default-input, #616161);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--body-medium-regular-size, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--body-medium-regular-line-height, 20px);

                    // color: var(--neutrals-black);
                    // font-feature-settings: var(--font-features-default);
                    // font-family: var(--body);
                    // font-size: var(--body-medium-medium-size);
                    // font-style: normal;
                    // font-weight: 500;
                    // line-height: var(--body-medium-medium-line-height);

                    @include media (mobile) {
                        gap: 8px;
                    }

                    +.filter-lists-wrap2 {
                        display: none;
                    }
                }

                .filter-lists2,
                .filter-lists3 {
                    display: flex;
                    padding: var(--spacing-8, 8px) var(--spacing-12, 12px);

                    // flex-direction: column;
                    // justify-content: flex-end;
                    // gap: 4px;
                    // align-self: stretch;
                    width: 400px;
                    height: 40px;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: var(--border-radius-8, 8px);
                    border: var(--border-width-01, 1px) solid var(--strokes-default, #9E9E9E);

                    @include media (mobile) {
                        // display: none;
                    }
                }
            }
        }
    }
}

.section.edge-filter-container.listing-edge-filter {
    display: none;
}

// .moedge-list.edge-filter-container {
//     @include media(mobile) {
//         display: none;
//     }
// }