@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.glossary-tabs.our-experts-container {
  padding: 24px 0 0;
  margin-bottom: 0;

  .our-experts-wrapper {
    .our-experts {
      padding: 40px 0;

      @include media(mobile) {
        padding: 0;
      }

      &-cont1 {
        .our-expert-section1 {
          .our-expert-sub1 {
            text-wrap: balance;
          }
        }
      }

      &-cont2 {
        @include media(mobile) {
          max-width: 100%;

          .our-expert {
            &-section1,
            &-section1 .our-expert-sub1 {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .tabs-wrapper {
    .tabs-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 24px 0;
      gap: 16px 36px;

      @include media(mobile) {
        gap: 16px;
        padding: 28px 0;
      }

      .tabs-tab {
        color: var(--neutrals-600);
        font-family: var(--body);
        font-size: var(--label-large-size);
        font-weight: 400;
        line-height: var(--label-large-line-height);
        border: none;
        background-color: var(--neutrals-white);
        padding: 0;

        @include media(mobile) {
          margin: 0;
          font-size: var(--label-large-size);
          line-height: var(--label-large-line-height);
          
          // width: 16px;
          // flex: unset;
        }

        &[aria-selected="true"] {
          color: var(--blue-1-800-primary);
          font-size: var(--body-medium-semibold-size);
          line-height: var(--body-medium-semibold-line-height);
          font-weight: 600;

          @include media(mobile) {
            font-size: var(--body-medium-semibold-size);
            line-height: var(--body-medium-semibold-line-height);
          }
        }

        .comlist {
          .button {
            all: unset;
          }
        }
      }
    }

    .tabs-panel {
      margin: 0;
      border: none;
      padding: var(--spacing-40) 0;
      overflow: unset;

      .tab-inner1 {
        .tab-subinner1 {
          margin: 0;

          .tab-child1 {
            .tab-subchild1 {
              display: flex;
              gap: 120px;

              @include media(tab) {
                gap: 80px;
              }

              @include media(mobile) {
                flex-direction: column;
              }

              .tab-itemmain {
                &1 {
                  margin: 0;
                  min-width: 88px;
                  width: 88px;
                  height: 93px;

                  .tab-subitem1 {
                    width: 100%;
                    height: 100%;
                    display: block;
                    line-height: 0;

                    .comlist {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }

                &2 {
                  margin: 0;
                  list-style: none;
                  display: flex;
                  flex-direction: column;

                  > li.comlist {
                    padding: 16px 0;

                    ul.tab-itemchild1 {
                      margin: 0;
                      list-style: none;

                      .tab-iteminner1 {
                        @include font-style(
                          var(--body-large-medium-size),
                          var(--body-large-medium-line-height),
                          var(--blue-1-800-primary),
                          500,
                          var(--body)
                        );

                        margin: 0 0 4px;

                        @include media(mobile) {
                          font-size: var(--body-medium-medium-size);
                          line-height: var(--body-medium-medium-line-height);
                        }
                      }

                      .tab-iteminner2 {
                        @include font-style(
                          var(--body-medium-regular-size),
                          24px,
                          var(--text-body-2),
                          400,
                          var(--body)
                        );

                        @include media(mobile) {
                          font-size: var(--paragraph-small-regular-size);
                          line-height: var(--paragraph-small-regular-line-height);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  > .default-content-wrapper {
    margin: 24px auto;
    padding: 40px 0;

    @include media(desktop-sm) {
      padding: 0 16px 40px;
      margin: 0;
    }

    .defitem1,
    .defitem2 {
      margin: 0;

      @include font-style(
        var(--disclaimer-xsmall-size),
        var(--disclaimer-xsmall-line-height),
        var(--blue-1-800-primary),
        400,
        var(--body)
      );

      padding-bottom: 4px;

      @include media(mobile) {
        font-size: var(--paragraph-xsmall-regular-size);
        line-height: var(--paragraph-xsmall-regular-line-height);
      }

      &.defitem2 {
        color: var(--text-disclaimer);
        padding-bottom: 0;
      }
    }
  }
}
