@import "../../../styles/fonts.css";

.section.our-experts-container.glossary-tabs {
  padding: 24px 0 0;
  margin-bottom: 0;
}

.section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts {
  padding: 40px 0;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts {
    padding: 0;
  }
}

.section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts-cont1 .our-expert-section1 .our-expert-sub1 {
  text-wrap: balance;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts-cont2 {
    max-width: 100%;
  }
}

.section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .search-results {
  display: none;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts-cont2 .our-expert-section1, .section.our-experts-container.glossary-tabs .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 {
    margin: 0;
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  gap: 16px 36px;
}

@media (width <= 1299px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list {
    justify-content: unset;
  }
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list {
    justify-content: space-between;
    gap: 16px;
    padding: 28px 0;
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list .tabs-tab {
  color: var(--neutrals-600);
  font-family: var(--body);
  font-size: var(--label-large-size);
  font-weight: 400;
  line-height: var(--label-large-line-height);
  border: none;
  background-color: var(--neutrals-white);
  padding: 0;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list .tabs-tab {
    margin: 0;
    font-size: var(--label-large-size);
    line-height: var(--label-large-line-height);
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list .tabs-tab[aria-selected="true"] {
  color: var(--blue-1-800-primary);
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  font-weight: 600;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list .tabs-tab[aria-selected="true"] {
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-list .tabs-tab .comlist .button {
  all: unset;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel {
  margin: 0;
  border: none;
  padding: var(--spacing-40) 0;
  overflow: unset;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 {
  margin: 0;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 {
  display: flex;
  gap: 120px;
}

@media (width <= 1025px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 {
    gap: 80px;
  }
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 {
    flex-direction: column;
    gap: 40px;
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain1 {
  margin: 0;
  min-width: 88px;
  width: 88px;
  height: 93px;
  position: relative;
  background-image: url("../../icons/c-icon.svg");
  background-size: 88px 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain1 {
    font-size: 48px;
    line-height: 56px;
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain1 .tab-subitem1 {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain1 .tab-subitem1 .comlist {
  width: 100%;
  height: 100%;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist {
  padding: 16px 0;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist ul.tab-itemchild1 {
  margin: 0;
  list-style: none;
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist ul.tab-itemchild1 .tab-iteminner1 {
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0 0 4px;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist ul.tab-itemchild1 .tab-iteminner1 {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }
}

.section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist ul.tab-itemchild1 .tab-iteminner2 {
  font-size: var(--body-medium-regular-size);
  line-height: 24px;
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs .tabs-wrapper .tabs-panel .tab-inner1 .tab-subinner1 .tab-child1 .tab-subchild1 .tab-itemmain2 > li.comlist ul.tab-itemchild1 .tab-iteminner2 {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }
}

.section.our-experts-container.glossary-tabs > .default-content-wrapper {
  margin: 24px auto;
  padding: 40px 0;
}

@media (width <= 1299px) {
  .section.our-experts-container.glossary-tabs > .default-content-wrapper {
    padding: 0 16px 40px;
    margin: 0;
  }
}

.section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem1,
.section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem2 {
  margin: 0;
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem1,
  .section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem2 {
    font-size: var(--paragraph-xsmall-regular-size);
    line-height: var(--paragraph-xsmall-regular-line-height);
  }
}

.section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem1.defitem2,
.section.our-experts-container.glossary-tabs > .default-content-wrapper .defitem2.defitem2 {
  color: var(--text-disclaimer);
}