@import "../../../styles/fonts.css";

.screen-400.cards-container,
.screen-401.cards-container,
.screen-403.cards-container,
.screen-408.cards-container,
.screen-500.cards-container,
.service-screen.cards-container {
  padding: 76px 0;
  margin-bottom: unset;
}

@media (width <= 768px) {
  .screen-400.cards-container,
  .screen-401.cards-container,
  .screen-403.cards-container,
  .screen-408.cards-container,
  .screen-500.cards-container,
  .service-screen.cards-container {
    margin: 59px 0 0;
    padding: 120px 0;
  }
}

.screen-400.cards-container .cards.error-screen-wrap1,
.screen-401.cards-container .cards.error-screen-wrap1,
.screen-403.cards-container .cards.error-screen-wrap1,
.screen-408.cards-container .cards.error-screen-wrap1,
.screen-500.cards-container .cards.error-screen-wrap1,
.service-screen.cards-container .cards.error-screen-wrap1 {
  display: flex;
  justify-content: center;
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 {
  grid: unset;
  max-width: 752px;
  width: 100%;
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist {
  border: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist {
    gap: 40px;
  }
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist {
  aspect-ratio: unset;
  height: 196px;
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-image img.comlist {
    height: 160px;
  }
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body {
  margin: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.comlist {
  margin: unset;
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--title);
  font-size: var(--heading-h3-size);
  font-weight: 600;
  line-height: var(--heading-h3-line-height);
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscrn-cont1 {
    font-size: 32px;
    line-height: 40px;
  }
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap {
  color: var(--neutrals-600);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--body);
  font-size: var(--body-medium-medium-size);
  font-weight: 500;
  line-height: var(--body-medium-medium-line-height);
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body .errscn-txtwrap {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container {
  order: 2;
  height: 40px;
  width: 154px;
  margin: 20px 0 0;
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container {
    margin: 16px 0 0;
  }
}

.screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
.screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
.screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
.screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
.screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
.service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1 {
  color: var(--text-white);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--body);
  font-size: var(--button-medium-size);
  font-weight: 500;
  line-height: var(--button-medium-line-height);
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin: unset;
  padding: 12px;
  border: unset;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  .screen-400.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
  .screen-401.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
  .screen-403.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
  .screen-408.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
  .screen-500.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1,
  .service-screen.cards-container .cards.error-screen-wrap1 ul.error-screen-ul1 li.comlist .cards-card-body p.button-container a.errscrn-inner-cont1 {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}

.screen-400 .errscrn-img-cont1 {
  height: 196px;
  width: 145px;
}

@media (width <= 768px) {
  .screen-400 .errscrn-img-cont1 {
    height: 160px;
    width: 110px;
  }
}

.screen-401 .errscrn-img-cont1 {
  height: 196px;
  width: 112px;
}

@media (width <= 768px) {
  .screen-401 .errscrn-img-cont1 {
    height: 160px;
    width: 92px;
  }
}

.screen-403 .errscrn-img-cont1 {
  height: 196px;
  width: 121px;
}

@media (width <= 768px) {
  .screen-403 .errscrn-img-cont1 {
    height: 160px;
    width: 99px;
  }
}

.screen-408 .errscrn-img-cont1 {
  height: 196px;
  width: 132px;
}

@media (width <= 768px) {
  .screen-408 .errscrn-img-cont1 {
    height: 160px;
    width: 108px;
  }
}

.screen-500 .errscrn-img-cont1 {
  height: 196px;
  width: 156px;
}

@media (width <= 768px) {
  .screen-500 .errscrn-img-cont1 {
    height: 160px;
    width: 127px;
  }
}

.service-screen .cards .cards-card-image {
  height: 196px;
  width: 144px;
}

@media (width <= 768px) {
  .service-screen .cards .cards-card-image {
    height: 160px;
    width: 117px;
  }
}