@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main > .section.investing-terms-container {
  margin: var(--spacing-40) 0 var(--spacing-80);
}

.investing-terms {
  display: flex;
  gap: 16px;
  padding: var(--spacing-40) 16px;
  border-radius: 8px;
  background: var(--blue-1-50);

  @include media(mobile) {
    flex-direction: column;
  }

  .inversting1 {
    height: 88px;

    .inverstingsub1 {
      width: 88px;
      height: 88px;

      .inverstinginner1 {
        line-height: 0;
        height: 100%;
        display: block;

        .inverstingsubinner4 {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
          object-fit: cover;
        }
      }
    }
  }

  .inversting2 {
    .inverstingsub1 {
      .inverstinginner1 {
        margin: 0;
        font-style: normal;
        padding-bottom: 4px;

        @include font-style(
          var(--heading-h4-size),
          var(--heading-h4-line-height),
          var(--blue-1-800-primary),
          600,
          var(--title)
        );

        @include media(mobile) {
          font-size: var(--sub-header-large-size);
          line-height: 28px;
        }
      }

      .inverstinginner2 {
        margin: 0;
        font-style: normal;
        padding-bottom: 40px;

        @include font-style(var(--body-medium-regular-size), 24px, var(--blue-1-800-primary), 400, var(--body));

        @include media(mobile) {
          font-size: var(--paragraph-xsmall-regular-size);
          line-height: var(--paragraph-xsmall-regular-line-height);
        }
      }

      .inverstinginner3 {
        margin: 0;
        padding-bottom: 12px;
        font-style: normal;

        @include font-style(
          var(--body-small-medium-size),
          var(--body-small-medium-line-height),
          var(--blue-1-800-primary),
          500,
          var(--body)
        );

        @include media(mobile) {
          font-size: var(--body-small-medium-size);
          line-height: var(--body-small-medium-line-height);
        }
      }

      .inverstinginner4 {
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        padding-bottom: 40px;

        li {
          display: flex;
          height: 32px;
          padding: 0 12px;
          align-items: center;
          gap: 4px;
          border-radius: 40px;
          background: var(--neutrals-white);
          font-style: normal;
          margin: 0;
          cursor: pointer;

          @include font-style(
            var(--label-small-size),
            var(--label-small-line-height),
            var(--blue-1-800-primary),
            400,
            var(--body)
          );

          @include media(mobile) {
            font-size: var(--label-small-size);
            line-height: var(--label-small-line-height);
          }
        }
      }

      .inverstinginner5 {
        display: flex;
        min-width: 160px;
        max-width: max-content;
        height: 48px;
        padding: 14px var(--spacing-12);
        justify-content: center;
        align-items: center;
        gap: var(--spacing-8);
        border-radius: var(--border-radius-8);
        background: var(--button-primary-default);
        margin: 0;
        text-align: center;
        font-style: normal;
        cursor: pointer;

        @include font-style(
          var(--button-large-size, 18px),
          var(--button-large-line-height),
          var(--text-white),
          500,
          var(--body)
        );

        @include media(mobile) {
          padding: 10px var(--spacing-12);
          height: 40px;
          width: 100%;
          min-width: 100%;
          font-size: var(--button-medium-size);
          line-height: var(--button-medium-line-height);
        }
      }
    }
  }
}
