@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.moedge-article-details-wrapper {
    .moedge-article-details {
        width: 100%;
        padding: 24px 0;

        .mainarticle1 {
            .itemarticle1 {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    .mainitemart1 {
                        display: flex;
                        align-items: center;
                        align-self: stretch;
                        gap: 8px;

                        .itemmainart1 {
                            margin: 0;
                            min-width: 86px;
                            display: flex;
                            height: 24px;
                            padding: 0 var(--spacing-12);
                            align-items: center;
                            gap: 4px;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--label-small-size);
                            font-style: normal;
                            font-weight: 400;
                            line-height: var(--label-small-line-height);
                            border-radius: var(--border-radius-circle, 1000px);
                            border: 1px solid var(--strokes-default, #9E9E9E);

                            @include media(mobile) {
                                min-width: 74px;
                                padding: 0 var(--spacing-8, 8px);
                            }

                            span {
                                width: 20px;
                                height: 20px;

                            }

                        }

                        ul {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            align-self: stretch;
                            list-style: none;
                            gap: 8px;

                            li {
                                color: var(--neutrals-700, #616161);
                                font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                                font-family: var(--body, Inter);
                                font-size: var(--label-small-size, 12px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--label-small-line-height, 16px);

                                .icon {
                                    width: 12px;
                                    height: 12px;
                                    aspect-ratio: 1/1;
                                    margin-bottom: 2px;
                                }
                            }

                            .submainart2 {
                                display: flex;
                                align-items: center;
                                gap: 4px;

                                &::before {
                                    content: '';
                                    width: 4px;
                                    height: 4px;
                                    background-color: var(--blue-1-400);
                                    border-radius: 50%;
                                    margin-right: 4px;
                                }
                            }

                            .submainart3 {
                                display: flex;
                                justify-content: flex-end;
                                align-items: flex-end;
                                flex: 1;

                                .icon {
                                    display: flex;
                                    width: 28px;
                                    height: 28px;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }

                    .mainitemart2 {
                        padding-top: 24px;
                        padding-bottom: 4px;

                        .button-container {
                            margin: 0;
                            padding: 0;
                            line-height: 0;

                            .button {
                                color: var(--blue-1800-primary, #2E2A94);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--title);
                                font-size: var(--heading-h5-size);
                                font-style: normal;
                                font-weight: 600;
                                line-height: var(--heading-h5-line-height);
                                background: transparent;
                                border: none;
                                margin: 0;
                                padding: 0;
                                white-space: unset;
                                text-align: left;
                                border-radius: unset;
                                word-break: auto-phrase;

                                @include media(mobile) {
                                    font-size: 20px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }

                    .mainitemart3 {
                        p.comlist {
                            margin: 0;
                            padding: 0;
                            color: var(--text-body-2);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-medium-regular-size);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            // line-height: var(--body-medium-regular-line-height);

                            @include media (mobile) {
                                font-size: var(--paragraph-small-size);
                                line-height: var(--paragraph-small-line-height)
                            }
                        }
                    }
                }

                // DropDown Css Start
                .itemsubart1 {
                    .mainitemart1 {
                        .submainart3.itemmainleftart3 {
                            position: relative;
                            list-style: none;

                            p {
                                margin: 0;
                            }

                            .submainleftart2 {
                                display: none;
                                opacity: 0;
                                transform: translateY(5px);
                                transition: opacity .2s ease, transform .2s ease;
                                background: #fff;
                                border-radius: 6px;
                                padding: 10px 0;
                                box-shadow: 0 4px 14px rgb(0 0 0 / 15%);
                                position: absolute;
                                top: 31px;
                                width: 180px;
                                z-index: 20;

                                &.active {
                                    display: block;
                                    opacity: 1;
                                    transform: translateY(0);
                                }

                                li {
                                    a {
                                        display: flex;
                                        gap: 8px;
                                        padding: 8px 16px;
                                        align-items: center;
                                        color: #000;
                                        text-decoration: none;

                                        &:hover {
                                            background: #f4f4f4;
                                        }
                                    }

                                }

                                // li::last-child {
                                //     display: none;
                                // }
                            }
                        }

                    }
                }

                // DropDown Css End
            }
        }

        .mainarticle2 {
            margin-top: 24px;

            .itemarticle1 {
                .itemsubart1 {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    .mainitemart1 {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        flex: 1 0 0;
                        list-style: none;

                        .itemmainart1 {
                            margin: 0;
                            padding: 0;
                            display: flex;
                            align-items: center;

                            .icon {
                                width: 35px;
                                height: 35px;
                            }

                        }

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 4px;
                            flex: 1 0 0;

                            .submainart1 {
                                color: var(--neutrals-900);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body);
                                font-size: var(--body-small-medium-size);
                                font-style: normal;
                                font-weight: 500;
                                line-height: var(--body-small-medium-line-height);
                            }

                            .submainart2 {
                                color: var(--neutrals-700, #616161);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body);
                                font-size: var(--paragraph-small-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--paragraph-small-line-height);
                            }
                        }
                    }
                }
            }
        }

        // // DropDown Css Start
        // .submainart3.itemmainleftart3 {
        //     position: relative;
        //     display: inline-block;
        //     list-style: none;
        // }

        // .submainleftart2 {
        //     display: none;
        //     opacity: 0;
        //     transform: translateY(5px);
        //     transition: opacity .2s ease, transform .2s ease;
        //     background: #fff;
        //     border-radius: 6px;
        //     padding: 10px 0;
        //     box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
        //     position: absolute;
        //     z-index: 20;
        // }

        // .submainleftart2.active {
        //     display: block;
        //     opacity: 1;
        //     transform: translateY(0);
        // }

        // .submainleftart2 li a {
        //     display: flex;
        //     gap: 8px;
        //     padding: 8px 16px;
        //     align-items: center;
        //     color: #000;
        //     text-decoration: none;
        // }

        // .submainleftart2 li a:hover {
        //     background: #f4f4f4;
        // }


        // // DropDown Css End
    }
}